@import "tailwindcss";

@config "../../tailwind.config.js"




@layer utilities {
  .shimmer {
    @apply relative overflow-hidden bg-gray-300;
  }
  .shimmer::after {
    content: "";
    @apply absolute inset-0 -translate-x-full bg-gradient-to-r from-transparent via-white/40 to-transparent;
    animation: shimmer 1.5s infinite;
  }
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
